<section class="people">
	<div class="wrapper">

		<div class="people-title">
	    	<h2 class="text-center-align">We host some of Texas' best events.</h2>
	    	<p class="text-center-align">From humble holiday rides, to local cyclocross, and national road races, we create meaningful event experiences that resonate in the cycling community.</p>
  		</div>

  		<div class="wrapper-flex people-lists">
  			<div class="people-list">
  				<img class="people-list--img" src="{{ "/assets/la_primavera-img1.jpg" | relative_url }}">
  				<h4>La Primavera Lago Vista</h4>
  				<p class="people-list--title">Road stage race</p>
  				<p class="people-list--description">Texas's premier road race. Active for more than 30 years and now serving as a selection event for the US Natonal Team.</p>
  			</div>

  			<div class="people-list">
   				<img class="people-list--img" src="{{ "/assets/webberville_cx-img2.jpg" | relative_url }}">
  				<h4>Webberville Cyclocross</h4>
  				<p class="people-list--title">Cyclocross race</p>
  				<p class="people-list--description">Legendary for it's speed, Webberville CX is a popular with racers from Austin, San Antonio, Dallas, and Houston</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="{{ "/assets/kids_cx-img3.jpg" | relative_url }}">
  				<h4>Kids on Bikes in Parks</h4>
  				<p class="people-list--title">Children's cycling clinic</p>
  				<p class="people-list--description">A series of events in Central Texas aimed at giving children some of their first experiences with recreational and compeitive cycling in a friendly and supportive environment.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="{{ "/assets/jacobs_well-img4.jpg" | relative_url }}">
  				<h4>Jacob's Well Classic</h4>
  				<p class="people-list--title">Road race</p>
  				<p class="people-list--description">A fan-favorite one-day race in the hillcountry outside of Wimberley, TX.</p>
  			</div>
  		</div>

	</div>
</section>