---
layout: default
permalink: /about/
---

<main class="page-content" aria-label="Content">
    <div class="wrapper wrapper-flex">
        <div class="flex-half home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

            <h1 class="hero-headline">David Comer</h1>
            <h3>
              Director, Camp of Lamps
            </h3>
            <h4>
              David got his start promoting cycling events back in 2021 as the President of the Violet Crown Sports Association. Now, as Director of Camp of Lamps, he continues his work to bring the best cycling events to racers in Austin.
            </h4>
            <button class="button secondary short full-on-mobile">Contact us</button>
        </div>
        <div class="flex-half home-image image-shadow">
          <img src="./assets/david_img.jpg" alt="">
        </div>
      </div>
       
</section>

<!-- {%- include price.html -%}

{%- include steps.html -%} -->


{%- include people.html -%} 