---
layout: default
---

<main class="page-content" aria-label="Content">
    <div class="wrapper wrapper-flex">
        <div class="flex-half home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

            <h1 class="hero-headline">Build your next event</h1>
            <h3>
              We specialize in producing cycling events in Texas. Reviving a classic? Creating a new event? Let us help you achieve your vision.
            </h3>
            <button class="button secondary short full-on-mobile">Contact us</button>
            <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaC31emT5V7r52athRswBWk-FQ-Iqnocjk5n9v3tS9IyFZtg/viewform?usp=header" class="button secondary short full-on-mobile">Contact us</a> -->

        </div>

        <div class="flex-half home-image image-shadow">
          <img src="./assets/small_group_close_banner_img.jpg" alt="">
        </div>
    </div>
</main>

<section class="wrapper wrapper-flex">
  <div class="flex-half image-shadow">
    <img src="./assets/barriers_img.jpg" alt="">
    </div>
    <div class="flex-half home">
      <h2>Your logistics specialists</h2>
      <h3>
        Setting up an event can be complicated, but it doesn't have to be! Let us handle your permitting, insurance, safety, and equipment needs.
      </h3>
    </div>
</section>

<section class="wrapper wrapper-flex">
  <div class="flex-half home">
    <h2>Marketing and communications</h2>
    <h3>
      We'll help you connect with your riders through clear, concise, and effective messaging. We'll help new and experienced racers discover your event, get registered, and receive all the information they need to have a great day.
    </h3>
  </div>

    <div class="flex-half image-shadow">
      <img src="./assets/kids_on_bikes_img.jpg" alt="">
    </div>
</section>

<section class="wrapper text-center-align">
    <h2>Camp of Lamps is your best companion</h2>
    <p>
      We partner with you to assemble the team you need to make your next event a success. 
    </p>
</section>

<section class="wrapper wrapper-flex">
  <div class="flex-3-col image-shadow">
    <img src="./assets/Junior_peloton_img.jpg" alt="">
    </div>
    <div class="flex-3-col image-shadow">
      <img src="./assets/hangout_img.jpg" alt="">
    </div>
    <div class="flex-3-col image-shadow">
      <img src="./assets/David_Ariel_img.jpg" alt="">
    </div>
</section>

<section class="wrapper why-choose-us">
  <h2 class="text-center-align">Why choose us?</h2>
  <p class="text-center-align">Simply put, we'll put your worries to rest and deliver a top-quality event.</p>
    <div class="wrapper-flex flex-align-start">
      <div class="flex-half why-choose-us__content">
            <img src="./assets/flash-icon.svg">
            <div class="why-choose-use__text">
              <h3>Noticeable quality.</h3>
              <p>"La Primavera Lago Vista is a world-class junior event." - Gavin Mannion, USA Cycling</p>
              <!-- <a class="primary">Learn more</a> -->
            </div>
      </div>
      <div class="flex-half why-choose-us__content">
            <img src="./assets/flash-icon.svg">
            <div class="why-choose-use__text">
              <h3>Great vibes.</h3>
              <p>"Your events are amazing and the encouragement for young riders is huge." - Participant, Jacob's Well Classic</p>
              <!-- <a class="primary">Learn more</a> -->
            </div>
      </div>
    </div>
</section>

<section class="wrapper text-center-align">
  <h2>Ready to get started?</h2>
  <p>Contact us to start planning your next event.</p>
  <!-- <button class="button secondary short position-centern-align full-on-mobile">Contact us</button> -->
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaC31emT5V7r52athRswBWk-FQ-Iqnocjk5n9v3tS9IyFZtg/viewform?usp=header" class="button secondary short full-on-mobile">Contact us</a>
</section>

<!-- {%- include price.html -%}

{%- include steps.html -%}

{%- include people.html -%} -->
