---
layout: default
---

<main class="page-content" aria-label="Content">
    <div class="wrapper wrapper-flex">
        <div class="flex-half home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}

            <h1>Build your next event</h1>
            <h3>
              We specialize in producing cycling events in Texas. Reviving a classic? Creating a new event? Let us help you achieve your vision.
            </h3>
            <button class="button secondary short full-on-mobile">Contact us</button>

        </div>

        <div class="flex-half home-image image-shadow">
          <img src="./assets/banner_img.jpg" alt="">
        </div>
    </div>
</main>

<section class="wrapper wrapper-flex">
  <div class="flex-half image-shadow">
    <img src="./assets/barriers_img.jpg" alt="">
    </div>
    <div class="flex-half home">
      <h2>Your logistics specialists</h2>
      <h3>
        Bicycle races require a complex set of permitting, insurance, safety measures and on-site equipment and logistics. We manage these so you don't have to.
      </h3>
    </div>
</section>

<section class="wrapper wrapper-flex">
  <div class="flex-half home">
    <h2>Marketing and communications</h2>
    <h3>
      Promoting a race isn't as easy as producing a slick flier. We handle complete marketing and communications strategies to help you reach current racers and connect with new riders.
    </h3>
  </div>

    <div class="flex-half image-shadow">
      <img src="./assets/kids_on_bikes_img.jpg" alt="">
    </div>
</section>

<section class="wrapper text-center-align">
    <h2>Camp of Lamps is your best companion</h2>
    <p>
      With scalable solutions, we assemble the team you need to make your next event a success. 
    </p>
</section>

<section class="wrapper wrapper-flex">
  <div class="flex-3-col image-shadow">
    <img src="./assets/small_group_img.jpg" alt="">
    </div>
    <div class="flex-3-col image-shadow">
      <img src="./assets/hangout_img.jpg" alt="">
    </div>
    <div class="flex-3-col image-shadow">
      <img src="./assets/hill_img.jpg" alt="">
    </div>
</section>

<section class="wrapper text-center-align">
  <h2>Ready to get started?</h2>
  <p>Contact us to start planning your next event.</p>
  <button class="button secondary short position-centern-align full-on-mobile">Contact us</button>
</section>

<section class="wrapper why-choose-us">
  <h2 class="text-center-align">Why choose us?</h2>
  <p class="text-center-align">Simply put, we'll put your worries to rest and deliver a top-quality event.</p>
    <div class="wrapper-flex flex-align-start">
      <div class="flex-half why-choose-us__content">
            <img src="./assets/flash-icon.svg">
            <div class="why-choose-use__text">
              <h3>Fastest Way to adopt a Panda.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              <a class="primary">Learn more</a>
            </div>
      </div>
      <div class="flex-half why-choose-us__content">
            <img src="./assets/flash-icon.svg">
            <div class="why-choose-use__text">
              <h3>Easiest Way to show off your new companion.</h3>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
              <a class="primary">Learn more</a>
            </div>
      </div>
    </div>
</section>

{%- include price.html -%}

{%- include steps.html -%}

{%- include people.html -%}
